body{
  margin-top: 20px;
}

.arguments{
  margin-top: 10px;
}
/*
#verbs, #frames, #examples, #corpora{
  background: none repeat scroll 0 0 #eceae7;
  border: 1px solid #bbb;
  margin: 0 auto;
  text-align: center;
  width: 95%;
}
#corpora{
  padding-bottom: 50px;
}
#corpus{
  height: 32px;
}
.ir { 
  text-indent: -999em; 
  overflow: hidden; 
  background-repeat: no-repeat; 
  text-align: left; 
  direction: ltr; 
  border: none;
}
#select-corpus{
  background: url('../img/next.png');
  width: 32px;
  height: 32px;
  vertical-align: bottom;
}
.back{
  background: url('../img/back.png');
  width: 32px;
  height: 32px;
  display: block;
}
.see{
  background: url('../img/see.png');
  width: 16px;
  height: 16px;
  display: block;
}
.down, .up{
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}
.up{
  background: url('../img/down.png');
}
.down{
  background: url('../img/up.png');
}
table{
  margin: 0 auto;
  border: 0;
  padding: 20px;
  border-spacing: 0;
  width: 98%;
}
td{
  padding: 5px 10px;
  border-bottom: 1px dotted #aaa;
}
tr.paginate td{
  border: none;
}
.page{
  margin: 0 5px;
}
.hover{
  background-color: #faeb89;
}
tr.header td, tr.last td{
  border-bottom: 1px solid #888;
}
tr.header td{
  border-top: 1px solid #888;
}
.example{
  display: none;
}
.sentence{
  background: #fff;
}
.parsed{
  display: block;
}
.arguments{
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 30px;
}
.arguments tr td{
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.argument td{
  border-bottom: 1px solid #888;
}
.first td{
  border-top: 1px solid #888;
}

input[type="text"]{
  border: 1px solid #ccc;
  padding: 2px;
}
select{
  border: 1px solid #ccc;
  background: #fff;
  padding: 2px;
}

.save-argument{
  background: url('../img/save.png');
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.delete-argument, .delete-example{
  background: url('../img/delete.png');
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.delete-example{
  vertical-align: sub;
}
a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}
}


*/